<h1><b>C – do while loop in C programming with example</b></h1>

<p>In the previous tutorial we learned while loop in C. A do while loop is similar to while loop with one exception that it executes the statements inside the body of do-while before checking the condition. On the other hand in the while loop, first the condition is checked and then the statements in while loop are executed. So you can say that if a condition is false at the first place then the do while would run once, however the while loop would not run at all.</p>

<h2><b>C – do..while loop</b></h2>
<h3>Syntax of do-while loop</h3>


<div class="code">
    <pre>

        do
        {{'{'}}
            //Statements 

        {{'}'}}while(condition test);
    </pre>
</div>
<h2><b>Flow diagram of do while loop</b></h2>

/
/
/
/
/
/
/
/
/
/
/
/
/
/
<h2><b>Example of do while loop</b></h2>


<div>
    <pre>
        #include < stdio.h>
            int main()
            {{'{'}}
                int j=0;
                do
                {{'{'}}
                    printf("Value of variable j is: %d\n", j);
                    j++;
                {{'}'}}while (j&lt;=3);
                return 0;
            {{'}'}}
    </pre>
</div>
<div class="code">
    <h4><b>Output</b></h4>

    <pre>Value of variable j is: 0
        Value of variable j is: 1
        Value of variable j is: 2
        Value of variable j is: 3
    </pre>
</div>

<h2><b>While vs do..while loop in C</b></h2>
<h3><b>Using while loop:</b></h3>

<div class="code">
    <pre>
        #include < stdio.h>
            int main()
            {{'{'}}
                int i=0;
                while(i==1)
                {{'{'}}
                printf("while vs do-while");
                {{'}'}}
                printf("Out of loop");
            {{'}'}}
    </pre>
</div>

<div class="code">
    <h4><b>Output:</b></h4>
    <pre>
        Out of loop
    </pre>
</div>
<h3><b>Same example using do-while loop</b></h3>


<div class="code">
    <pre>
        #include < stdio.h>
            int main()
            {{'{'}}
               int i=0;
               do
               {{'{'}}
                printf("while vs do-while\n");
               {{'}'}}while(i==1);
               printf("Out of loop");
            {{'}'}}
    </pre>
</div>
<div class="code">
    <h4><b>Output</b></h4>
    <pre>
        while vs do-while
        Out of loop
    </pre>
</div>
<!-- testing -->

<p><b>Explanation: </b>As I mentioned in the beginning of this guide that do-while runs at least once even if the condition is false because the condition is evaluated, after the execution of the body of loop.</p>


<div fxLayout="row" fxLayoutAlign="space-around center" >
    <div class="50" fxFlex="65" ><a [routerLink]="['/clanguage/cwhile-loop']" routerLinkActive="MyActiveMenu"><h2>&lt;Previous</h2></a></div>
    <div class="50" fxFlex="65" > <a [routerLink]="['/clanguage/ccontinue']" routerLinkActive="MyActiveMenu"><h2>Next&gt;</h2></a></div>
</div>




