
.code{
    background: linear-gradient(42deg, #B58234 0%, #D2B545 50%, #D7C04D 50.01%, #FFFFFF 100%);
}
.table td{
    color:red ;
    border: 2px solid black;
    text-align: center;
    
}
.table{
    padding-left: 10px;
}

#small{
    border: 2px solid black;
    color: green;

}
#big{
    text-align: center;
}
.table td{
    border: 1px solid black;
    height: 50px;
}
.second-table td{
   
    color:red ;
    text-align: center;
    


}