section{
  padding: 10px;
}
#img-1{
  width: 800px;
}
#img-2{
  width: 800px;
}
#div1{

  background: linear-gradient(42deg, #B58234 0%, #D2B545 50%, #D7C04D 50.01%, #FFFFFF 100%);
  font-weight: bold;
  border-radius: 5px;
}
#div2{
  background: linear-gradient(42deg, #B58234 0%, #D2B545 50%, #D7C04D 50.01%, #FFFFFF 100%);
  font-weight: bold;
  padding-top: 10px;


}





