<section  [ngxWatermark]="options">
  <div id="outer-div">
    <h2>How to install Turbo C++: Compile and Run a C Program</h2>
      <!-- BY CHAITANYA SINGH | FILED UNDER: C-PROGRAMMING -->

      <p>First thing you need to understand is that computer (Machine) can only understand Machine language (Stream of 0s and 1s). In order to convert your C program source code to Machine code, you need to compile it. Compiler is the one, which converts source code to Machine code. In simple words you can say that a compiler converts human readable code to a machine readable format.</p>

      <h2>Install Turbo C++: Step by Step Guide</h2>
      <p> 
        Download link:<a target="_blank" href="https://download.cnet.com/TurboC-for-Windows/3000-2212_4-75786077.html">  Download Turbo C++ for Windows</a>
      </p>

      <b>Step 1:</b> Locate the TC.exe file and open it. You will find it at location C:\TC\BIN\.<br>

      <b>Step 2:</b> File > New (as shown in above picture) and then write your C program<br>
      
        <pre>
          #include< stdio.h >
          int main(  )
          {{ '{' }}
            
          printf("hello World!");
            return 0;

          {{ '}' }} 
      
        </pre>
        <img id="img-1" src="/assets/image/ctutorial1.PNG" alt="image">

        <h1><b>Compile and Run C program using gcc compiler</b></h1>
      
         <h3><p> We have seen the steps to compile and execute a C program using Turbo C++. We can also do the same using gcc compiler. The steps are as follows:</p></h3>
        <h2><b>Source code Helloworld.c (file should always be saved with .c extension)</b></h2>
        <div id="div1">
          <pre>
            #include< stdio.h >
            int main(  )
            {{ '{' }}
              
            puts ("hello World!");
              return 0;
              
            {{ '}' }} 
          </pre>
        </div>
        <h3><b>Compile it</b> (it is basically converting a helloworld.c file to a helloworld file)</h3>
        <div id="div2">
          >gcc  helloworld.c  –o  helloworld<br>
          >
        </div>
        The generated file would be helloworld.exe if you are compiling on windows.
        
          <h3><b>Run the compiled program</b></h3>
         <p> Once you give the above command, a .exe file would have been created if you are on windows then type the following command to run the source code.
        </p>
        <h3><b>For Windows</b></h3>
        >helloworld
        <h3><b>For Mac and Linux OS</b></h3>
        >./helloworld
        <p>gcc compiler took the human readable format (helloworld.c file) and converted into a machine code for Windows, Linux and Mac OS X.</p>

                              
        <div fxLayout="row" fxLayoutAlign="space-around center" >
          <div class="50" fxFlex="65" ><h2><Previous</h2> </div>
          <div class="50" fxFlex="65" > <a [routerLink]="['first-c-program']" routerLinkActive="MyActiveMenu"><h2>Next></h2></a></div>
        </div>



      
  </div>
</section>


