
section{
  padding: 10px;
}
#img-1{
  width: 800px;
}
#img-2{
  width: 800px;
}
#div1{
  background-color: gainsboro;
  font-weight: bold;
  border-radius: 5px;
}
#div2{
  background-color: gainsboro;
  font-weight: bold;
  padding-top: 10px;


}


