<h1><b>C – switch case statement in C Programming with example</b></h1>
The <b>switch case statement</b> is used when we have multiple options and we need to perform a different task for each option.
<h1><b>C – Switch Case Statement</b></h1>
Before we see how a switch case statement works in a C program, let’s checkout the syntax of it.
<div class="code">
    <pre>
        switch (variable or an integer expression)
{{'{'}}
     case constant:
     //C Statements
     ;
     case constant:
     //C Statements
     ;
     default:
     //C Statements
     ;
{{'}'}}
    </pre>
</div>
<h1><b>Flow Diagram of Switch Case</b></h1>
<h1><b>Example of Switch Case in C</b></h1>
Let’s take a simple example to understand the working of a switch case statement in C program.