#rss-feed-div{
  height: 80vh;
  overflow-y: scroll;
  ul{
    list-style: none;
    li{
      background: linear-gradient(42deg, #fbfeff 0%, #f7fde4 50%, #fbfeff 50.01%, #FFFFFF 100%);
      padding: 5px;
      border-radius: 5px;
      margin-bottom: 3px;
    }
  }

}
