

<section  [ngxWatermark]="options">
    <h1>C Keywords – Reserved Words</h1>
    <p>
       In C, we have 32 keywords, which have their predefined meaning and cannot be used as a variable name. These words are also known as “reserved words”. It is good practice to avoid using these keywords as variable name. These are –
    </p>
    <table class="table table-responsive">
        <caption>c Keywords or reserved words</caption>
        <tr>
            <td>auto</td>
            <td>break</td>
            <td>case</td>
            <td>char</td>
        </tr>
        <tr>
            <td>const</td>
            <td>continue</td>
            <td>default</td>
            <td>do</td>
        </tr>
        <tr>
            <td>int</td>
            <td>long</td>
            <td>register</td>
            <td>return</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>
</section>
