<h1><b>  While loop in C programming with example</b></h1>
<p>A loop is used for executing a block of statements repeatedly until a given condition returns false. In the previous tutorial we learned for loop. In this guide we will learn while loop in C.</p>

<h2><b>C – while loop</b></h2>
Syntax of while loop:
<pre>
    while (condition test)
    {{'{'}}
          //Statements to be executed repeatedly 
          // Increment (++) or Decrement (--) Operation
    {{'}'}}
</pre>
<h2><b>Flow Diagram of while loop</b></h2>
<img height="280px" src="assets/image/flowchart3.jpg" alt="">
<h2><b>Example of while loop</b></h2>
<div class="code2">
    <pre>
        #include < stdio.h>
            int main()
            {{'{'}}
               int count=1;
               while (count &lt;= 4)
               {{'{'}}
                    printf("%d ", count);
                    count++;
               {{'}'}}
               return 0;
            {{'}'}}
    </pre>
</div>