<h1><b>Operator precedence and Associativity in C programming language</b></h1><br>
In this guide, we will learn operator precedence and associativity in <a target="_blank" href="https://beginnersbook.com/category/c-programming/">C Programming </a>.
<h3><b>Operator Precedence in C</b></h3>
<p><b>Operator precedence</b> determines which operator is evaluated first when an expression has more than one operators. For example 100-2*30 would yield 40, because it is evaluated as 100 – (2*30) and not (100-2)*30. The reason is that multiplication * has higher precedence than subtraction(-).</p>
<h1><b>Associativity in C</b></h1>
<p>Associativity is used when there are two or more operators of same precedence is present in an expression. For example multiplication and division arithmetic operators have same precedence, lets say we have an expression 5*2/10, this expression would be evaluated as (5*2)/10 because the associativity is left to right for these operators. Similarly 20/2*5 would be calculated as (20*2)/5.</p>
<h1><b>Operator precedence and Associativity Table in C Programming</b></h1>
<div>
    <table class="table">
        <tr>
            <td><b>Description</b></td>
            <td><b>Operator</b></td>
            <td><b>Associativity</b></td>
        </tr>
        <tr>
            <td>Function expression</td>
            <td> ( )</td>
            <td>Left to Right</td>
        </tr>
        <tr>
            <td>Array Expression</td>
            <td>[ ]</td>
            <td>Left to Right</td>
        </tr>
    </table>
</div>