
<div fxLayout="column" flexLayoutAlign="center top"  style="margin-top: 5px; min-height: 80vh">
  <div fxLayout="row" fxLayoutAlign="center stretch" >
    <div  id="left-div" fxFlex="15">
      <h3>C Programming Tutorial</h3>
      <ul id="topics">
        <li><a [routerLink]="['turbocpp']" routerLinkActive="MyActiveMenu">Turbo C++</a></li>
        <li><a [routerLink]="['first-c-program']" routerLinkActive="MyActiveMenu">FirstC Program</a></li>
        <li><a [routerLink]="['c-keywords']" routerLinkActive="MyActiveMenu">C- Keywords</a></li>
        <li><a [routerLink]="['operator-precidence']" routerLinkActive="MyActiveMenu">Operator precedence</a></li>
        <li>C - if statement</li>
        <li>C - if..else</li>
        <li>C - for loop</li>
        <li>C - while loop</li>
        <li>C - do while loop</li>
        <li>C - continue</li>
        <li>C - break statement</li>
        <li>C - switch..case</li>
        <li>C - goto statement</li>
        <li>C - Arrays</li>

      </ul>
    </div>
    <div class="" id="middle-div" fxFlex="65" >

          <router-outlet></router-outlet>

    </div>
    <div class="" id="right-div" fxFlex="20">
      <app-news-feed></app-news-feed>
    </div>
  </div>
</div>
