
<div fxLayout="column" flexLayoutAlign="center top"  style="margin-top: 5px; min-height: 80vh">
  <div fxLayout="row" fxLayoutAlign="center stretch" >
    <div  id="left-div" fxFlex="15">
      <h3>C Programming Tutorial</h3>
      <ul id="topics">
        <li><a [routerLink]="['turboCpp']" routerLinkActive="MyActiveMenu">Turbo C++</a></li>
        <li><a [routerLink]="['firstCprogram']" routerLinkActive="MyActiveMenu">FirstC Program</a></li>
        <li><a [routerLink]="['ckeywords']" routerLinkActive="MyActiveMenu">C- Keywords</a></li>
        <li><a [routerLink]="['operatorPrecedence']" routerLinkActive="MyActiveMenu">Operator precedence</a></li>
        <li><a [routerLink]="['cifStatement']" routerLinkActive="MyActiveMenu">cif-statement</a></li>
        
        <li><a [routerLink]="['cifElse']" routerLinkActive="MyActiveMenu">C - if..else</a></li>
        <li><a [routerLink]="['cforLoop']" routerLinkActive="MyActiveMenu">C - for loop</a></li>
        <li><a [routerLink]="['cwhileLoop']" routerLinkActive="MyActiveMenu">C - while loop</a></li>
        <li><a [routerLink]="['doWhileLoop']" routerLinkActive="MyActiveMenu">C - do while loop</a></li>
        <li><a [routerLink]="['ccontinue']" routerLinkActive="MyActiveMenu">C - continue</a></li>
        <li><a [routerLink]="['cbreakStatement']" routerLinkActive="MyActiveMenu">C - break statement</a></li>
        <li><a [routerLink]="['cswitchCase']" routerLinkActive="MyActiveMenu">C - switch..case</a></li>
        <li><a [routerLink]="['cgotoStatement']" routerLinkActive="MyActiveMenu">C - goto statement</a></li>
        <li><a [routerLink]="['carrys']" routerLinkActive="MyActiveMenu">C - Arrays</a></li>

      </ul>
    </div>
    <div class="" id="middle-div" fxFlex="65" >

          <router-outlet></router-outlet>

    </div>
    <div class="" id="right-div" fxFlex="20">
      <app-news-feed></app-news-feed>
    </div>
  </div>
</div>
