
<div fxLayout="column" flexLayoutAlign="center top"  style="margin-top: 5px; min-height: 80vh">
  <div fxLayout="row" fxLayoutAlign="center stretch" >
    <div  id="left-div" fxFlex="15">
      <h3>C Programming Tutorial</h3>
      <ul id="topics">
        <li><a [routerLink]="['turbocpp']" routerLinkActive="MyActiveMenu">Turbo C++</a></li>
        <li><a [routerLink]="['first-c-program']" routerLinkActive="MyActiveMenu">FirstC Program</a></li>
        <li><a [routerLink]="['c-keywords']" routerLinkActive="MyActiveMenu">C- Keywords</a></li>
        <li><a [routerLink]="['operatorprecedence']" routerLinkActive="MyActiveMenu">Operator precedence</a></li>
        <li><a [routerLink]="['cif-statement']" routerLinkActive="MyActiveMenu">cif-statement</a></li>
        
        <li><a [routerLink]="['cif-else']" routerLinkActive="MyActiveMenu">C - if..else</a></li>
        <li><a [routerLink]="['cfor-loop']" routerLinkActive="MyActiveMenu">C - for loop</a></li>
        <li><a [routerLink]="['cwhile-loop']" routerLinkActive="MyActiveMenu">C - while loop</a></li>
        <li><a [routerLink]="['doWhileLoop']" routerLinkActive="MyActiveMenu">C - do while loop</a></li>

        
        
      
        <li>C - continue</li>
        <li>C - break statement</li>
        <li>C - switch..case</li>
        <li>C - goto statement</li>
        <li>C - Arrays</li>

      </ul>
    </div>
    <div class="" id="middle-div" fxFlex="65" >

          <router-outlet></router-outlet>

    </div>
    <div class="" id="right-div" fxFlex="20">
      <app-news-feed></app-news-feed>
    </div>
  </div>
</div>
