<div id="outer-div">
        <h2>How to install Turbo C++: Compile and Run a C Program</h2>
    <!-- BY CHAITANYA SINGH | FILED UNDER: C-PROGRAMMING -->

    <p>First thing you need to understand is that computer (Machine) can only understand Machine language (Stream of 0s and 1s). In order to convert your C program source code to Machine code, you need to compile it. Compiler is the one, which converts source code to Machine code. In simple words you can say that a compiler converts human readable code to a machine readable format.</p>

    <h2>Install Turbo C++: Step by Step Guide</h2><br>
    <!-- Download link: Download Turbo C++ for Windows<br> -->

    <b>Step 1:</b> Locate the TC.exe file and open it. You will find it at location C:\TC\BIN\.<br>

    <b>Step 2:</b> File > New (as shown in above picture) and then write your C program<br>
</div>
